<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    请输入姓名：<input type="text" id="name"/><br><br>
    请输入初始密码：<input type="password" id="password" placeholder="仅支持整数" /><br><br>
    修改密码：<input type="password" id="passwordTwo" placeholder="仅支持整数"/><br><br>
    确认密码： <input type="password" id="passwordThree"  placeholder="仅支持整数" /><br><br>
    <button onclick="editPassword()">修改密码</button>


<script>
    function editPassword() {
        var name = $("#name").val();
        var password1 = $("#password").val();
        var password2 = $("#passwordTwo").val();
        var password3 = $("#passwordThree").val();
        if (Number(password2) == Number(password3)){
            $.post("editPassword",{name:name,password:password1,editPassword:password2},function (res) {
                switch (res){
                    case true:alert("修改成功");
                    window.location.href="login";
                    break;
                    case false:alert("修改失败，用户名或密码错误");
                }
            })

        }else {
            alert("两次修改密码不一致！");
        }
    }
</script>
</body>
</html>