<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    请输入姓名<input id="name" name="name" required="required"><br><br>
    请输入密码<input id="password" name="password" type="password" placeholder="仅支持正整数" required="required"><br><br>
    验证码： <input type="text" id="code" name="code" required placeholder="请输入验证码" />
    <img alt="验证码" onclick = "this.src='/getcode?d='+new Date()*1" src="/getcode" style="margin-left:20px;"/>
    <br><br>
    <button onclick="login()">登陆</button> <button><a href="/goregister">注册</a></button>
    <button><a href="/goeditPassword">修改密码</a></button>




<script>
    function login() {
        var name = $("#name").val();
        var password = $("#password").val()
        var code = $("#code").val();
            $.post("gologin",{name:name,password:password,code:code},function (res) {
                switch (res){
                    case 1:alert("登陆成功");
                    break;
                    case 2:alert("登陆失败，账号或者密码不正确");
                    break;
                    case 3:alert("验证码错误");
                }
            })
        }
</script>

</body>
</html>